body{
    background-color: rgb(83, 83, 94);
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
color: rgb(202, 133, 133);
}
.header{
    color: black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family:'Courier New', Courier, monospace;

}
.navbar{
    text-align: right;
    background-color: bisque;
    width: 80%;
    margin-left: auto ;
    margin-right: auto;
}
.navbar ul li{
    display: inline-block;
}
.navbar ul a{
    text-decoration: none;
    display: block;
    padding: 8px;
    color: black;
    font-family:'Courier New', Courier, monospace;
    text-transform:uppercase;

}
.navbar ul li a:hover{
    background: rgb(230, 208, 168);
    color: beige;
}

.h1{
    font-family:'Courier New', Courier, monospace
}

#portada{
    float: left;
    width: 70%;
    background: rgb(117, 108, 108);
    padding: 10px;
    box-sizing: border-box;
    font-family: Raleway;
}
.ads{
    width: 25%;
    background: rgb(190, 145, 145);
    height: 200px;
    box-sizing: border-box;
    float: right;
    padding-top: 40px;
    text-align: center;
    color: rgb(212, 191, 201);
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.receta{
text-align: center;
}
.limpiarfloat{
    clear: both;

}

.destacado{
    background: rgb(243, 231, 209);
    padding: 5px;
}
.micolor{
    color: rgb(202, 133, 133);
}
.mifuente{
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.caja{
    border-top: 2px solid;
    border-right: 4px solid;
    border-left: 4px solid;
    border-bottom: 2px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: Raleway;
}
.formulario{
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;

}
.dato{
width: 50%;
height: 10%;
}

.footer{
    clear: both;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(212, 162, 171);
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}


/* responsive */
@media screen and (min-width: 0px) and (max-width: 600px) {
    body{
        background: black;
        
    }
    .header{
        background: tomato;
        color: aliceblue;
    }
    img{
        width: 60%;
    }
}
